
@{
    ViewBag.Title = "RegisterFAQ";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">首頁</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Login", "Members")">會員</a></li>
            <li class="breadcrumb-item active" aria-current="page">註冊問題</li>
        </ol>
    </nav>
</div>
<hr />


<h1 style="text-align: center"><span>註冊問題</span></h1>
<br />
<div class="container">
    <p>
        <span>
            第一次造訪，請您點選右上角↗的人形圖示，於【註冊與驗證】區域點選"下一步"輸入您的電子郵件信箱與手機號碼，快速填完基本資料後，即可設定本站的密碼，請記得到您的電子郵件去收網站驗證信件，點擊信中驗證連結，即完成註冊啟用．此後可直接於【會員登入】區域登入身分進行購物，所有消費將可開始累點/抵點。
        </span>
    </p>
    <p>
        <span style="color:brown">
            Q：我沒有收到驗證信，怎麼辦？
        </span>
    </p>
    <p>
        <span>
            &ensp;A：請您查找一下垃圾信箱，還是沒有收到，請到網站上點選右上角人形圖示，於【會員登入】區域輸入電子郵件信箱與密碼，後按確認，系統將跳出錯誤訊息告知您尚未完成驗證，請您點選連結已重新獲得驗證信。
        </span>
    </p>
    <p>
        <span style="color:brown">
            Q：一直顯示註冊失敗怎麼辦?
        </span>
    </p>
    <p>
        <span>
            &ensp;A：請您按下 <a href="https://line.me/zh-hant/">聯絡我們</a>，由我們的客服人員了解註冊失敗的原因，並教您快速逐步設定。
        </span>
    </p>
    <p>
        <span style="color:brown">
            Q：忘記密碼
        </span>
    </p>
    <p>
        <span>
            &ensp;A：請您於登入頁面按下＂忘記密碼＂，您可選擇以email方式收取重設密碼連結，或以手機簡訊認證，直接進入重設密碼頁面。
        </span>
    </p>

</div>
