
@{
    ViewBag.Title = "ReturnPolicy";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">聯絡我們</li>
            <li class="breadcrumb-item active" aria-current="page">退換貨說明</li>
        </ol>
    </nav>
</div>
<hr />

<h1 style="text-align: center"><span>退換貨說明</span></h1>
<div class="container">
    <p>
        <span>
            關於退貨
            依照消費者保護法規定，線上購物消費者均享有7天鑑賞期之權益，請您務必於貨到7天內辦理退換貨，退貨前請與我們聯絡，我們的服務人員將協助您辦理退貨事宜。
        </span>
    </p>
    <p>
        <span style="color: green">線上購物退貨僅提供全訂單退貨，恕不接受商品部份退貨</span>
        <span>，並且退回商品必須是全新狀態且保持包裝完整，否則恕不接受退換貨。若商品因消費者個人不當使用拆卸產生人為因素造成故障、毀損、磨損、擦傷、刮傷、髒污、包裝破損不完整者，或是配件不齊者，恕不接受退貨。</span>
    </p>
    <br />
    <p><span>只要您符合下述條件其中一項就可以無條件退貨：</span></p>
    <ul>
        <li class="textMb">
            <span>實際收到的商品與所訂購商品不符合</span>
        </li>
        <li class="textMb">
            <span>產品包裝內配件不齊全或商品規格與外包裝說明不符合</span>
        </li>
        <li><span>商品有瑕疵或於運送過程中有損壞者</span></li>
    </ul>
    <br />
    <p>
        <span>
            退貨請於收到商品7日內，於
            <a href="https://line.me/zh-hant/" target="_blank">聯絡我們</a>
            留下訊息，或來信告知service@River.com，並將商品、贈品放入原包裝箱內，本公司將派貨運前往取件。
        </span>
    </p>
    <h3 class="h3mb"><strong>關於退款</strong></h3>
    <p>
        <span>已付款訂單取消、以及確認退貨並已退回商品之訂單，您將透過email收到發票折讓通知。款項將按照原購買的支付方式如下說明退回：</span>
    </p>
    <p>
        <span>若您使用信用卡線上刷卡付款，將於14-21天內退款至您的信用卡帳戶，實際到帳時間以信用卡發卡銀行作業為準，可洽所屬銀行查詢。</span>
    </p>
    <p>
        <span>
            若您使用ATM匯款、超商代碼付款或貨到付款者，則需請您提供收款戶名、銀行名(XX銀行XX分行)、銀行帳號等資料，將依消保法第十九條規範於告知退款帳戶資訊後15天內退款至您的指定帳戶中。
        </span>
    </p>
    <h3 class="h3mb"><strong>發票處理</strong></h3>
    <p>
        <span>由於電子發票已託管於本公司，退貨時皆開立銷貨折讓單方式處理：</span>
    </p>
    <p>
        <span>二聯式發票：為加速退款流程，當您成立訂單時即代表若後續發生退貨情事，您同意授權我司代為處理銷貨折讓作業，開立之折讓單將以email方式通知。</span>
    </p>
    <p>
        <span>三聯式發票：本公司將開立及寄送銷貨折讓單給您，請於銷貨折讓單簽名/蓋章後寄回本公司，進行後續核銷流程。</span>
    </p>
</div>
