
@{
    ViewBag.Title = "Shipping";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">聯絡我們</li>
            <li class="breadcrumb-item active" aria-current="page">運送說明</li>
        </ol>
    </nav>
</div>
<hr />

<h1 style="text-align: center"><span>運送說明</span></h1>
<div class="container">
    <p>
        <span>
            當您的款項信用卡資料核對無誤後，該筆交易便完成付款程序，貨到付款則直接進行配送。
        </span>
    </p>
    <p>
        <span>
            我們將會在付款完成後的 3
            個工作天內(不含週休、國定例假日以及貨運業務繁盛期)，將商品宅配送達您指定的收件地址。
        </span>
    </p>
    <p>
        <span>為了保護商品的完整，我們會妥善包裝您所訂購的商品，收到貨後請立即開箱檢查，確認商品包裝完成無缺。</span>
    </p>
    <h3 class="h3mb"><strong>配送地區</strong></h3>
    <p>
        <span>台灣本島及離島，離島地區為澎湖、金門、馬祖、綠島。離島地區若遇天候、海象、船班年節停航及船班歲修等不可控之因素，恕無法指定希望配達日及時段。</span>
    </p>
    <h3 class="h3mb"><strong>配送方式</strong></h3>
    <p>
        <span>
            目前官網訂單使用
            <strong>黑貓宅急便</strong>寄送，【我的帳戶>我的訂單>出貨訂單】中可查看包裹追蹤編號，如需查詢包裹寄送狀況，請<a href="https://www.t-cat.com.tw/Inquire/Trace.aspx">按此輸入</a>追蹤編號，即可查見。
        </span>
    </p>
    <p>
        <span>
            唯少數訂單使用<strong>宅配通</strong>寄送，出貨通知信將註明配送商，如需查詢包裹寄送狀況，可<a href="https://www.t-cat.com.tw/Inquire/Trace.aspx">按此輸入</a>追蹤編號，即可查見。
        </span>
    </p>
    <h3 class="h3mb"><strong>運費計算</strong></h3>
    <p>
        <span>
            台灣地區單筆訂購金額超過新台幣1,000元時免收取宅配費用；未滿新台幣1,000元時，則須收取運費新台幣100元。
        </span>
    </p>
    <h3 class="h3mb"><strong>注意事項</strong></h3>
    <p>
        <span>
            若經配送兩次無法送達，再經本公司以E-mail無法聯繫逾三天，或兩次配送均拒收，本公司將取消該筆訂單並以退貨程序處理相關款項返還，不再行通知。
        </span>
    </p>
</div>
