USE [master]
GO
/****** Object:  Database [FDB10]    Script Date: 2023/10/4 下午 05:13:48 ******/
CREATE DATABASE [FDB10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FDB10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\FDB10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FDB10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\FDB10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FDB10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FDB10]
GO
/****** Object:  User [sa5]    Script Date: 2023/10/4 下午 05:13:48 ******/
CREATE USER [sa5] FOR LOGIN [sa5] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa5]
GO
/****** Object:  Table [dbo].[BannerCarousel]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerCarousel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Headline] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[CreatTime] [datetime] NOT NULL,
	[Image] [nvarchar](50) NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_BannerCarousel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capacities]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Capacities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberAccount] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Shippings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_MainCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondaryCategoriesId] [int] NOT NULL,
	[Question] [nvarchar](3000) NOT NULL,
	[Answer] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_FQAs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_MemberFavorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](10) NOT NULL,
	[DateofBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmCode] [nvarchar](100) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductPrice] [int] NOT NULL,
 CONSTRAINT [PK_ProductItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[PaytypeId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[DistrictsId] [int] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Receiver] [nvarchar](50) NULL,
	[TelePhone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paytypes]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paytypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Paytype] [nvarchar](10) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_OrderPaytype] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[FileName] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CapacityId] [int] NOT NULL,
	[SecondaryCategoryId] [int] NOT NULL,
	[NoteId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Method] [nvarchar](500) NULL,
	[Ingredient] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Stock] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondaryCategories]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondaryCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_SecondaryCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextCarousel]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextCarousel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[CreatTime] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_TextCarousel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BannerCarousel] ON 

INSERT [dbo].[BannerCarousel] ([Id], [Headline], [Description], [CreatTime], [Image], [Enabled]) VALUES (2, N'淋浴你的身心靈', N'您的心情由我來守護', CAST(N'2023-07-29T09:25:16.887' AS DateTime), N'輪播-1.jpg', 1)
INSERT [dbo].[BannerCarousel] ([Id], [Headline], [Description], [CreatTime], [Image], [Enabled]) VALUES (3, N'營造香氛聖地', N'香氛蠟燭，治癒你的身心靈', CAST(N'2023-09-10T10:25:36.207' AS DateTime), N'輪播-2.jpg', 1)
INSERT [dbo].[BannerCarousel] ([Id], [Headline], [Description], [CreatTime], [Image], [Enabled]) VALUES (7, N'燃起香氛蠟燭，沉浸幸福氛圍', N'感受全新草莓芬芳。以清新明亮的香檸檬、粉紅胡椒帶來亮眼的驚喜感受全新草莓芬芳', CAST(N'2023-09-29T20:26:26.307' AS DateTime), N'輪播-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[BannerCarousel] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [DisplayOrder], [Enabled], [Description], [Image]) VALUES (1, N'Maison Louis Marie', 10, 1, N'Maison Louis Marie源於1792年的傳奇香氛品牌。創始人Louis Marie在馬達加斯加研究了2000多種植物。200年後，其後裔Marie，受家族歷史啟發，創立此品牌。他們強調"Clean Beauty"原則，不使用有毒成分、避免動物測試，且深入注重環保包裝。此外，品牌積極支持"1% For the Planet"，與機構合作種植樹木，致力於環境的永續保護。', N'mlmbanner.jpg')
INSERT [dbo].[Brands] ([Id], [Name], [DisplayOrder], [Enabled], [Description], [Image]) VALUES (2, N'Diptyque', 20, 1, NULL, NULL)
INSERT [dbo].[Brands] ([Id], [Name], [DisplayOrder], [Enabled], [Description], [Image]) VALUES (3, N'kerzon', 30, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Capacities] ON 

INSERT [dbo].[Capacities] ([Id], [Name], [DisplayOrder]) VALUES (1, N'50ml', 10)
INSERT [dbo].[Capacities] ([Id], [Name], [DisplayOrder]) VALUES (2, N'75ml', 20)
INSERT [dbo].[Capacities] ([Id], [Name], [DisplayOrder]) VALUES (3, N'100ml', 30)
SET IDENTITY_INSERT [dbo].[Capacities] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Qty]) VALUES (19, 11, 43, 2)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Qty]) VALUES (20, 11, 129, 4)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Qty]) VALUES (21, 11, 128, 2)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [MemberAccount]) VALUES (11, N'allen')
INSERT [dbo].[Carts] ([Id], [MemberAccount]) VALUES (13, N'ChenYu')
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [DisplayOrder], [Enabled]) VALUES (1, N'香氛', 10, 1)
INSERT [dbo].[Categories] ([Id], [Name], [DisplayOrder], [Enabled]) VALUES (2, N'身體', 20, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [DisplayOrder]) VALUES (2, N'臺北市', 10)
INSERT [dbo].[Cities] ([Id], [Name], [DisplayOrder]) VALUES (3, N'新北市', 20)
INSERT [dbo].[Cities] ([Id], [Name], [DisplayOrder]) VALUES (5, N'台中市', 30)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [CityId], [District], [DisplayOrder]) VALUES (2, 2, N'中正區', 10)
INSERT [dbo].[Districts] ([Id], [CityId], [District], [DisplayOrder]) VALUES (4, 2, N'大同區', 20)
INSERT [dbo].[Districts] ([Id], [CityId], [District], [DisplayOrder]) VALUES (5, 2, N'中山區', 30)
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQs] ON 

INSERT [dbo].[FAQs] ([Id], [SecondaryCategoriesId], [Question], [Answer]) VALUES (1, 1, N'什麼是淡香水？', N'淡香水（Eau de Toilette）是一種香水分類，具有較輕盈的香氣，通常含有較低濃度的香精成分。它的香味相對持久度較短，適合日常使用。')
INSERT [dbo].[FAQs] ([Id], [SecondaryCategoriesId], [Question], [Answer]) VALUES (2, 1, N'淡香水和其他香水之間有什麼不同？', N'淡香水的香精濃度相對較低，通常在5-15%之間，這使得它的香味較輕盈，適合在日常情況下使用。相比之下，香水（Perfume）的香精濃度較高，通常在15-30%之間，因此其香味較持久，使用較少的量即可。另外，極致香水（Parfum）的香精濃度最高，可以超過30%，香味持久性最長。')
INSERT [dbo].[FAQs] ([Id], [SecondaryCategoriesId], [Question], [Answer]) VALUES (3, 1, N'如何正確使用淡香水？', N'使用淡香水時，可以在潔凈的皮膚上輕輕噴灑。常見的應用部位包括腕部、耳後、頸部和肘彎處。避免過量使用，以免香味過於濃重。根據個人的體味和喜好，可以適當調整使用的量。')
SET IDENTITY_INSERT [dbo].[FAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [Email], [Telephone], [DateofBirth], [Gender], [Enabled], [IsConfirmed], [ConfirmCode]) VALUES (31, N'allen', N'657F090D9FAD71EF86B94FB7751ED12E57F4080F264734A66D77F12F06D626AE', N'allen Kuo', N'allenKuo@gmail.com', N'0935447891', CAST(N'1992-06-04' AS Date), 1, 1, 1, NULL)
INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [Email], [Telephone], [DateofBirth], [Gender], [Enabled], [IsConfirmed], [ConfirmCode]) VALUES (32, N'Weiber', N'C6E3DF31840BD1BF0DE67DE2FE3F436B26DED398F9710A8B005CE0B1F54EF957', N'黃柏崴', N'rajaboris60101@gmail.com', N'0925075387', CAST(N'1993-09-02' AS Date), 1, 1, 1, NULL)
INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [Email], [Telephone], [DateofBirth], [Gender], [Enabled], [IsConfirmed], [ConfirmCode]) VALUES (33, N'Leo', N'3E4E80396CAEC80FA0B45169D62C513B3B2E7F9134D959FD6F4A222A69952D53', N'江孟霖', N'Leo@gmail.com', N'0975859415', CAST(N'1997-01-19' AS Date), 1, 1, 1, N'4facdc2b86464892b6889bc4578926d0')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([Id], [Name], [DisplayOrder]) VALUES (1, N'花香調', 10)
INSERT [dbo].[Notes] ([Id], [Name], [DisplayOrder]) VALUES (2, N'果香調', 20)
INSERT [dbo].[Notes] ([Id], [Name], [DisplayOrder]) VALUES (3, N'東方調', 30)
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Qty], [ProductName], [ProductPrice]) VALUES (20, 6, 43, 3, N'香氛蠟燭 果然萊姆', 1350)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Qty], [ProductName], [ProductPrice]) VALUES (21, 6, 128, 3, N'舒緩恬睡護手霜', 500)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [MemberId], [OrderTime], [PaytypeId], [StatusId], [DistrictsId], [Address], [Receiver], [TelePhone], [Email]) VALUES (6, 40, CAST(N'2023-10-04T13:23:32.790' AS DateTime), 3, 1, 4, N'敦化南路69號', N'陳冠華', N'0925020121', N'ChenYu@gmail.com')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Paytypes] ON 

INSERT [dbo].[Paytypes] ([Id], [Paytype], [Enabled]) VALUES (1, N'貨到付款', 1)
INSERT [dbo].[Paytypes] ([Id], [Paytype], [Enabled]) VALUES (2, N'超商條碼付款', 1)
INSERT [dbo].[Paytypes] ([Id], [Paytype], [Enabled]) VALUES (3, N'線上ATM付款', 1)
SET IDENTITY_INSERT [dbo].[Paytypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [FileName]) VALUES (1, 39, N'產品ID39的副圖1.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [FileName]) VALUES (2, 39, N'產品ID39的副圖2.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [FileName]) VALUES (3, 41, N'香氛蠟燭果然茉莉1.jpg')
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [BrandId], [CapacityId], [SecondaryCategoryId], [NoteId], [Price], [Description], [Method], [Ingredient], [Image], [Stock], [Enabled]) VALUES (3, N'香氛蠟燭-馬鞭草', 2, 5, 3, 5, 1350, N'我們的淡香精是一款高質量的香水，以其持久的香氣和獨特的調香配方而著稱。它是您日常打扮的完美配件，也適合特殊場合。', N'包括高品質的香水油、純凈酒精和精選的花卉提取物。', N'主要香調：鈴蘭 / 托斯卡尼無花果 / 零陵香豆', NULL, 5, 0)
INSERT [dbo].[Products] ([Id], [Name], [BrandId], [CapacityId], [SecondaryCategoryId], [NoteId], [Price], [Description], [Method], [Ingredient], [Image], [Stock], [Enabled]) VALUES (4, N'香氛蠟燭-薰衣草', 2, 2, 3, 1, 1350, N'淡香精為奢華的香水，融合了精緻的香氛，為您帶來持久的自信和吸引力。', N'包括高品質的香水油、純凈酒精和精選的花卉提取物。', N'主要香調：鈴蘭 / 托斯卡尼無花果 / 零陵香豆', NULL, 5, 0)
INSERT [dbo].[Products] ([Id], [Name], [BrandId], [CapacityId], [SecondaryCategoryId], [NoteId], [Price], [Description], [Method], [Ingredient], [Image], [Stock], [Enabled]) VALUES (5, N'香氛蠟燭-尤加利', 2, 2, 3, 4, 1350, N'我們的淡香精是一款高質量的香水，以其持久的香氣和獨特的調香配方而著稱。它是您日常打扮的完美配件，也適合特殊場合。', N'包括高品質的香水油、純凈酒精和精選的花卉提取物。', N'主要香調：鈴蘭 / 托斯卡尼無花果 / 零陵香豆', NULL, 5, 0)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SecondaryCategories] ON 

INSERT [dbo].[SecondaryCategories] ([Id], [CategoryId], [Name], [DisplayOrder], [Enabled]) VALUES (1, 1, N'淡香精', 10, 1)
INSERT [dbo].[SecondaryCategories] ([Id], [CategoryId], [Name], [DisplayOrder], [Enabled]) VALUES (3, 1, N'蠟燭', 20, 1)
INSERT [dbo].[SecondaryCategories] ([Id], [CategoryId], [Name], [DisplayOrder], [Enabled]) VALUES (4, 1, N'擴香', 30, 1)
SET IDENTITY_INSERT [dbo].[SecondaryCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Status]) VALUES (1, N'備貨中')
INSERT [dbo].[Status] ([Id], [Status]) VALUES (2, N'已出貨')
INSERT [dbo].[Status] ([Id], [Status]) VALUES (3, N'配送中')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TextCarousel] ON 

INSERT [dbo].[TextCarousel] ([Id], [Description], [CreatTime], [Enabled]) VALUES (1, N'營造香氛聖地,拋開炎熱盛夏的紛擾', CAST(N'2023-07-29T08:25:45.570' AS DateTime), 1)
INSERT [dbo].[TextCarousel] ([Id], [Description], [CreatTime], [Enabled]) VALUES (2, N'任選兩瓶經由,即可獲得神秘禮物', CAST(N'2023-08-15T15:59:55.703' AS DateTime), 1)
INSERT [dbo].[TextCarousel] ([Id], [Description], [CreatTime], [Enabled]) VALUES (7, N'香島躰育 x Club Stubborn 聯名首發@西門門市', CAST(N'2023-09-02T10:27:01.563' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TextCarousel] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Account], [Password], [Name], [Email], [Enabled]) VALUES (1, N'Kai', N'123', N'Kai Yeh', N'el11111@gmail.com', 1)
INSERT [dbo].[Users] ([Id], [Account], [Password], [Name], [Email], [Enabled]) VALUES (2, N'Abel', N'123', N'Stephen Cisneros', N'xufh.vuhols@j-d--f.net', 1)
INSERT [dbo].[Users] ([Id], [Account], [Password], [Name], [Email], [Enabled]) VALUES (3, N'Erick', N'123', N'Abraham Blackburn', N'mkuw@-fnvzo.com', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cities]    Script Date: 2023/10/4 下午 05:13:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cities] ON [dbo].[Cities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Districts]    Script Date: 2023/10/4 下午 05:13:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Districts] ON [dbo].[Districts]
(
	[District] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Members]    Script Date: 2023/10/4 下午 05:13:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Members] ON [dbo].[Members]
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BannerCarousel] ADD  CONSTRAINT [DF_BannerCarousel_CreatTime]  DEFAULT (getdate()) FOR [CreatTime]
GO
ALTER TABLE [dbo].[BannerCarousel] ADD  CONSTRAINT [DF_BannerCarousel_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_IsConfirmed]  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_ProductOrder_OrderTime]  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Paytypes] ADD  CONSTRAINT [DF_Paytypes_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[SecondaryCategories] ADD  CONSTRAINT [DF_SecondaryCategories_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [dbo].[TextCarousel] ADD  CONSTRAINT [DF_TextCarousel_CreatTime]  DEFAULT (getdate()) FOR [CreatTime]
GO
ALTER TABLE [dbo].[TextCarousel] ADD  CONSTRAINT [DF_TextCarousel_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Members] FOREIGN KEY([MemberAccount])
REFERENCES [dbo].[Members] ([Account])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Members]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Cities]
GO
ALTER TABLE [dbo].[FAQs]  WITH CHECK ADD  CONSTRAINT [FK_FAQs_SecondaryCategories] FOREIGN KEY([SecondaryCategoriesId])
REFERENCES [dbo].[SecondaryCategories] ([Id])
GO
ALTER TABLE [dbo].[FAQs] CHECK CONSTRAINT [FK_FAQs_SecondaryCategories]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Favorites] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Favorites]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_MemberFavorites_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_MemberFavorites_Products]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Districts] FOREIGN KEY([DistrictsId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Districts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Paytypes] FOREIGN KEY([PaytypeId])
REFERENCES [dbo].[Paytypes] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Paytypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Capacities] FOREIGN KEY([CapacityId])
REFERENCES [dbo].[Capacities] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Capacities]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Notes] FOREIGN KEY([NoteId])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Notes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SecondaryCategories] FOREIGN KEY([SecondaryCategoryId])
REFERENCES [dbo].[SecondaryCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SecondaryCategories]
GO
ALTER TABLE [dbo].[SecondaryCategories]  WITH CHECK ADD  CONSTRAINT [FK_SecondaryCategories_Categories1] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[SecondaryCategories] CHECK CONSTRAINT [FK_SecondaryCategories_Categories1]
GO
/****** Object:  StoredProcedure [dbo].[CalculateSummaryByBrandAndCategory]    Script Date: 2023/10/4 下午 05:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateSummaryByBrandAndCategory]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
    P.BrandId AS Brand, 
    B.Name AS BrandName, 
    P.SecondaryCategoryId AS SecondaryCategory, 
    SC.Name AS SecondaryCategoryName, 
    COUNT(*) AS ProductCount, 
    SUM(Stock) AS TotalStock,
    SUM(Price * Stock) AS TotalStockValue
    FROM Products as P
    INNER JOIN Brands as B ON B.Id = P.BrandId
    INNER JOIN SecondaryCategories as SC ON SC.Id = P.SecondaryCategoryId
    GROUP BY P.SecondaryCategoryId, P.BrandId, B.Name, SC.Name
    ORDER BY P.BrandId;
END;
GO
USE [master]
GO
