
@{
    ViewBag.Title = "IndexApi";
}

<main>

    <div id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
  
        </div>

        <div class="carousel-inner">


        </div>

        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</main>

    @section scripts{
        <script>
            fetch('/api/CarouselApi/', {
                method: 'Get',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Net work have Error');

                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data)
                    var html = `<div class="carousel-item">
                                        <img src="/Images/Carousel/" class="d-block w-100" alt="顯示異常" />
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5></h5>
                                            <p></p>
                                        </div>
                                    </div>`;


                    var buttonhtml = `<button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0" class="active">
            </button>`

                    var htmlCopy = html;
                    var buttonhtmlCopy = buttonhtml;
                    var i = 0;

                    for (var item of data) {
                        htmlCopy = html;
                        buttonhtmlCopy = buttonhtml;

                        if (i === 0) {
                            htmlCopy = htmlCopy.replace('<div class="carousel-item">',`<div class="carousel-item active">`)
                        }
                        htmlCopy = htmlCopy.replace('<img src="/Images/Carousel/" class="d-block w-100" alt="顯示異常" />', `<img src="/Images/Carousel/${item.Image}" class="d-block w-100" alt="顯示異常" />`);
                        htmlCopy = htmlCopy.replace(' <h5></h5>', ` <h5>${item.Headline}</h5>`)
                        buttonhtmlCopy = buttonhtmlCopy.replace(`data-bs-slide-to="0"`, `data-bs-slide-to="${i}"`)

                        $(".carousel-inner").append(htmlCopy);
                        $(".carousel-indicators").append(buttonhtmlCopy);
                        i++;
                    }


                })

        </script>


    }

